<div id="registration" class="row g-3">
    <div class="col registration">
        <input type="text" class="form-control" placeholder="Enter username" aria-label="Username"
            name="userName">
    </div>
    <div class="col registration">
        <input type="password" class="form-control" placeholder="Enter password" aria-label="Password"
            name="password">
    </div>